.btn {
    border: none;
    outline: none;
    padding: 0.7rem;
    border-radius: 0.3rem;
    margin-right: 0.3rem;
    cursor: pointer;
    color: white;
    float: right;
}

.edit-btn {
    background: rgb(3, 151, 3); 
}

.edit-btn:hover {
    background: rgb(5, 172, 5);  
}