.btn {
    border: none;
    outline: none;
    padding: 0.7rem;
    border-radius: 0.3rem;
    margin-right: 0.3rem;
    cursor: pointer;
    color: white;
    float: right;
}

.edit-btn {
    background: #ffff00;
}

.edit-btn:hover {
    background: rgb(233, 233, 2);
}