* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.task-container {
    display: grid;
    grid-template-areas: 
    "number name name"
    "button button button";
    margin: 15rem 0;
}

.detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6.5rem;
}

.btn {
    border: none;
    outline: none;
    padding: 0.7rem 0;
    margin: 2rem 5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    color: white;
    float: right;
}

.task-number {
    grid-area: number;
    font-weight: bold;
    margin-right: 0.3rem;
    padding: 0;
} 

.task-name {
    grid-area: name;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.back-btn {
    margin-top: 2rem;
    grid-area: button;
    background: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}

.back-btn:hover {
    background: #ccc;
    color: rgb(0, 0, 0)
}

@media (min-width: 518px) {
    .detail-container {
        width: 100vw;
        text-align: center;
    }
}

/*

@media (min-width: 400px) and (max-width: 600px) {
    .detail-container {
        margin: 0 3rem;
    }
}



@media (min-width: 778px) {
    .detail-container {
        margin: 0 15rem; 
    }
}
*/