.btn {
    border: none;
    outline: none;
    padding: 0.7rem;
    border-radius: 0.3rem;
    margin-right: 0.3rem;
    cursor: pointer;
    color: white;
    float: right;
}

.delete-btn {
    background: rgb(194, 34, 34);
}

.delete-btn:hover {
    background: rgb(214, 62, 62);
}