.add-tasks {
    display: grid;
    grid-template: 1fr / 1fr 0.5fr;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

.add-tasks input, .add-tasks .add-btn {
    margin: 0 auto;
    height: 2rem;
    padding: 0.2rem 0.5rem;
}

.add-tasks input {
    width: 40%;
    margin-right: 1rem;
}

.add-tasks input:hover {
    border: 1px solid rgb(91, 44, 134);
}

.add-btn {    
    background: rgb(9, 148, 9);
    width: 30%;
    height: auto;
    margin: 0 auto;
    padding: 2rem 0;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

.add-btn:hover {
    background: rgb(23, 182, 23);
}
