<div class="container">
    <div class="app-container">
        <header class="header">Task App</header>
        <div class="add-tasks">
            <label for="addTask">Tasks:</label>
            <input type="text"  placeholder="Tasks..."  >
            <button class="add-btn" type="submit" (click)="onTaskAdd()">Add Task</button>
        </div>
        <ul class="task-list">
            <li *ngFor="let t of taskList">
                <a class="name" [routerLink] = "['/details', t.id]">{{ t.id }}. {{ t.name }}</a>
                <button class="btn read-btn">Read</button>
                <button class="btn delete-btn" (click)="onTaskDeleted(t.id)">Delete</button>
            </li>
        </ul>
    </div>
</div>



<!--
    [(ngModel)]="t.name"
    (click)="addTask(taskList)"
    (ngSumbit)="onSubmit()"
-->
