.container {
    font-family: 'Courier New', Courier, monospace;
}

.app-container {
    padding: 1rem;
    background: #fff;
}


.header {
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px dashed blueviolet;
}

.task-list li {
    list-style: none;
    margin: 1rem;
    padding: 0 1rem;
    background: #f4f4f4;
    display: grid;
    grid-template: 1fr / 0.1fr 1fr 0.1fr 0.1fr;
    justify-content: none;
    align-items: center;
    /*
    padding-right: 2rem;
    border-right: 1px solid black;
    */
}





.name {
    align-self: center;
    
}

.btn {
    border: none;
    outline: none;
    padding: 0.7rem;
    border-radius: 0.3rem;
    margin-right: 0.3rem;
    cursor: pointer;
    color: white;
    float: right;
}


.read-btn {
    background: rgb(30, 30, 201); 
}

.read-btn:hover {
    background: rgb(46, 46, 236); 
}

